https://public.e2e.test {
	tls /run/e2e/certs/server.crt /run/e2e/certs/server.key

	@webhook {
		method POST
		path /webhook
	}
	handle @webhook {
		request_body {
			max_size 64MiB
		}
		reverse_proxy index-01-hook:8080
	}

	@readyz {
		method GET
		path /readyz
	}
	handle @readyz {
		reverse_proxy index-01-hook:8080
	}

	handle {
		respond 404
	}
}
